.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    background-color: #0f141ea2;
    width: 100% !important;
    height:40px;


    div {
        height: 100%;
        width: 50%;
        border-radius: 10px;

        cursor: pointer;
        color: white;

        font-size: 1.3em;
        font-weight: 400;

        text-decoration: none;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;


        @media screen and (max-width: 500px) {
            height: 40px;        
            font-size: 1.2em;
        }
    }

    @media screen and (max-width: 500px) {
        height: 40px;    
        width: 50%;  
        margin: 0 auto;
    }
}


.list-page {
    background-color: blueviolet;
}